<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ "Welcome to Yetinder"|trans }}{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="bg-gradient-to-r from-blue-500 to-purple-500 text-white min-h-screen">
        <nav class="bg-gray-800 shadow mb-6">
            <div class="max-w-7xl mx-auto px-1">
                <div class="flex items-center justify-between h-16">
                    <div class="flex items-center">
                        <a href="{{ path('yeti_list') }}" class="text-white font-bold text-xl mr-2">
                            <img src="{{ asset('img/logo/yetinder-small.svg') }}" alt="Yetinder" class="inline-block w-12 h-12 mr-4">
                        </a>
                        <a href="{{ path('yeti_list') }}" class="text-gray-300 hover:text-white px-4 py-2 rounded-md text-md font-medium">
                            {{ "Dashboard"|trans }}
                        </a>
                        <a href="{{ path('yeti_best_of') }}" class="text-gray-300 hover:text-white px-4 py-2 rounded-md text-md font-medium">
                            {{ "Best Yetis"|trans }}
                        </a>
                        <a href="{{ path('yeti_create') }}" class="text-gray-300 hover:text-white px-4 py-2 rounded-md text-md font-medium">
                            {{ "Add new Yeti"|trans }}
                        </a>
                    </div>
                </div>
            </div>
        </nav>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} my-4 px-4 py-3 rounded bg-green-100 text-green-800">
                    {{ message|trans }}
                </div>
            {% endfor %}
        {% endfor %}
        <main class="wrapper p-5 py-10">
            {% block body %}{% endblock %}
        </main>
    </body>
</html>
