<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ "Welcome to Yetinder"|trans }}{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="bg-blue-400 bg-fixed text-white min-h-screen">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} my-4 px-4 py-3 rounded bg-green-100 text-green-800">
                    {{ message|trans }}
                </div>
            {% endfor %}
        {% endfor %}
        <div class="wrapper p-5 py-10">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
