<div class="max-w-2xs bg-zinc-50 rounded-xl overflow-hidden shadow-lg text-black">
    <img class="w-full" src="{{ asset('img/yeti/' ~ yeti.image) }}" alt="{{ yeti.name }}">
    <div class="px-6 py-4">
        <div class="font-bold text-xl text-center mb-2">{{ yeti.name }}</div>

        <p class="text-gray-700 text-base h-24 overflow-hidden text-ellipsis whitespace-pre-line line-clamp-4" onclick="this.classList.toggle('h-24');this.classList.toggle('line-clamp-4')">
            {{ yeti.description }}
        </p>
    </div>
    <div class="px-6 pt-4 pb-2">
        {% if yeti.height %}
            {% include 'components/cardParam.html.twig' with {
                'name': "Height"|trans,
                'value': yeti.height,
                'unit': "cm"
            } %}
        {% endif %}
        {% if yeti.weight %}
            {% include 'components/cardParam.html.twig' with {
                'name': "Weight"|trans,
                'value': yeti.weight,
                'unit': "kg"
            } %}
        {% endif %}
    </div>
    <div id="vote-{{ yeti.id }}" class="flex justify-center align-center gap-4 p-2">
        <a href="{{ path('vote_up', { id: yeti.id }) }}" class="bg-green-500 text-white px-3 py-1 rounded-full text-xl font-bold hover:bg-green-600">
            +
        </a>
        <span class="text-2xl font-semibold">{{ yeti.votes }}</span>
        <a href="{{ path('vote_down', { id: yeti.id }) }}" class="bg-red-500 text-white px-3 py-1 rounded-full text-xl font-bold hover:bg-red-600">
            –
        </a>
    </div>
</div>

